[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[project]
name = "sbilifeco-http-client-vectoriser"
version = "0.1.0"
description = "HTTP client to send requests to vectoriser"
dependencies = []