services:
    traefik:
        image: traefik:3.6.2
        restart: always
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        command:
            - --api.insecure=true
            - --providers.docker=true
        ports:
            - 11900:80
            - 11901:8080
    docling-serve:
        image: ghcr.io/docling-project/docling-serve-cpu:v1.9.0
        restart: always
    docling-reader:
        image: sbilife/docling-reader:latest
        environment:
            - HTTP_PORT=80
            - DOCLINGSERVE_PROTO=http
            - DOCLINGSERVE_HOST=docling-serve
            - DOCLINGSERVE_PORT=5001
        restart: always
        labels:
            - traefik.http.routers.material-reader.rule=PathPrefix(`/api/v1/materials`)
    chromadb-gateway:
        image: sbilife/chromadb-gateway
        environment:
            - HTTP_PORT_VECTORISER=80
            - HTTP_PORT_VECTOR_REPO=81
            - DB_PATH=/var/lib/chromadb
            - COLLECTION_NAME=material
        restart: always
        volumes:
            - ./.local/.chromadb:/var/lib/chromadb
        labels:
            - traefik.http.routers.vectoriser.rule=PathPrefix(`/api/v1/vectors`)
            - traefik.http.routers.vectoriser.service=vectoriser
            - traefik.http.services.vectoriser.loadBalancer.server.url=http://chromadb-gateway
            - traefik.http.routers.vector-repo.rule=PathPrefix(`/api/v1/vectorised-data`)
            - traefik.http.routers.vector-repo.service=vector-repo
            - traefik.http.services.vector-repo.loadBalancer.server.url=http://chromadb-gateway:81
